@charset "UTF-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.ad, .ad * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.ad {
    border: 1px solid #000;
    background-color: #f7f9fb;
    margin: 20px;
    display: flex;
    overflow: hidden;
    position:relative;
}

.ad .ad__cta a {
    background-color:#df5826;
    color:#fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    padding:7px 15px;
    margin:0px 10px;
}

.ad .ad__copy .adjective::before {
    content: "Classic";
    padding-left:10px;
    font-family: sans-serif;
}

@keyframes ford-adjectives-animate {

    0% {
        content: "Custom";
    }

    50% {
        content: "Lifted";
    }

    75% {
        content: "Rare";
    }
}


.ad--ford .ad__decoration {
    /* set background image to f150-1.jpg **/
    background:url(f150-1.jpg);
    background-repeat:no-repeat;
}

.ad--ford .ad__copy .adjective::before {
    animation: ford-adjectives-animate infinite 5s;
}

.logo {
    background-color: #416438;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
}

.logo img {
    max-width: 100%;
}

.ad--728w90h {
    width: 728px;
    height: 90px;
}

.ad--728w90h .logo {
    width: 100px;
    bottom:0px;
    left:0px;
    top:0px;
}

.ad--728w90h .ad__decoration {
    width:360px;
    height:90px;
    background-size: auto 300%;
    background-position: 30px 57%;
}

.ad--728w90h .ad__copy {
    padding:10px;
   
}

.ad--728w90h .ad__copy h1{
    transform:rotate(-15deg);
    line-height: 32px;
    
}

.ad--728w90h .ad__copy .adjective{
    transform:rotate(-15deg);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    line-height: 32px;
    width:100px;
}

.ad--728w90h .ad__cta {
    display: block;
    height:90px;
    text-align: center;
    padding-top:30px;
    position:absolute;
    left:560px;
    top:0px;
    bottom:0px;
    right:0px;
}

.ad--728w90h .ad__cta a {
    text-align: center;
}


.ad--300w250h {
    width: 300px;
    height: 250px;
}

.ad--300w250h .logo {
    width: 100px;
}

.ad--300w600h {
    width: 300px;
    height: 600px;
    flex-direction: column;
}

.ad--300w600h .logo {
    width: 100%;
}

.ad--970w250h {
    width: 970px;
    height: 250px;
}

.ad--970w250h .logo {
    width: calc(970px / 3);
}

.ad--160w600h {
    width: 160px;
    height: 600px;
    flex-direction: column;
}

.ad--160w600h .logo {
    width: 100%;
}