@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&family=Yellowtail&display=swap');

.ba,
.ba * {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.ba h1,
.ba h2,
.ba h3,
.ba h4,
.ba h5,
.ba h6 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.ba {
    border: 1px solid #000;
    background-color: #f7f9fb;
    margin: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.ba .ba__cta a {
    background-color: #df5826;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    padding: 3px 15px;
    font-weight:400;
    transition: 0.2s;
}

.ba:hover .ba__cta:hover a {
    transform:scale(2);
}

.ba .ba__copy .adjective {
    font-family: 'Yellowtail', cursive;

}

.ba .ba__copy .adjective::before {
    content: "Classic";
    font-family: 'Yellowtail', cursive;
    color:#df5826;
    font-size: 34px;
    letter-spacing: 2px;
    animation: fe-adjectives-animate infinite 12s;
    animation-timing-function: ease-in-out;
}


/** First and Last keyframes need to be the same text for smoothness. **/

@keyframes fe-adjectives-animate {

    0% {
        content: "classic";
        opacity: 1;
    }

    10% {
        opacity: 0
    }

    20% {
        content: "rare";
        opacity: 1;
    }

    30.5% {
        opacity: 0;
    }

    40% {
        content: "custom";
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        content: "new";
        opacity: 1;
        ;
    }

    70% {
        opacity: 0;
    }

    80% {
        content: "project";
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        content: "classic";
        opacity: 1;
    }
}

/** Make/Model Specific Stuff **/

/** Ford **/
.ba--ford .ba__decoration {
    /* set background image to f150-1.jpg **/
    background: url(f150-1.jpg);
    background-repeat: no-repeat;
}
/** End Ford **/
/** End Make/Model Specific Stuff **/


.logo {
    background-color: #416438;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    position: absolute;
}

.logo img {
    max-width: 100%;
}

/** 728x90 Ad **/

.ba--728w90h {
    width: 728px;
    height: 90px;
    background-color:#332C13;
}

.ba--728w90h .logo {
    width: 100px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    background-color:#f7f9fb;
}

.ba--728w90h .ba__decoration {
    width: 360px;
    height: 90px;
    background-size: auto 300%;
    background-position: 30px 57%;
    color: #f7f9fb;
}

.ba--728w90h .ba__copy {
    padding: 10px;
    transform: rotate(-7deg);
    position: relative;
    left: 5px;
    top: 5px;
    color:#f7f9fb;
}

.ba--728w90h .ba__copy h1 {
    line-height: 22px;
    font-size:20px;
}

.ba--728w90h .ba__copy .model {
    padding-top:2px;
    font-size:20px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.ba--728w90h .ba__copy .adjective {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    line-height: 25px;
    text-align: right;
    text-transform: capitalize;
}

.ba--728w90h .ba__copy .adjective::before {
    text-align: right;
    width: 120px;
    display: inline-block;
    position: relative;
    line-height: 24px;;
    left: -10px;
    top:0px;
}

.ba--728w90h .ba__cta {
    display: block;
    height: 90px;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    left: 600px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.ba--728w90h .ba__cta a {
    text-align: center;
}

/** End 728x90 Ad **/


.ba--300w250h {
    width: 300px;
    height: 250px;
}

.ba--300w250h .logo {
    width: 100px;
}

.ba--300w600h {
    width: 300px;
    height: 600px;
    flex-direction: column;
}

.ba--300w600h .logo {
    width: 100%;
}

.ba--970w250h {
    width: 970px;
    height: 250px;
}

.ba--970w250h .logo {
    width: calc(970px / 3);
}

.ba--160w600h {
    width: 160px;
    height: 600px;
    flex-direction: column;
}

.ba--160w600h .logo {
    width: 100%;
}