* {
    box-sizing: border-box;
}

.ad {
    border: 1px solid #000;
    background-color: #f7f9fb;
    margin: 20px;
    display: flex;
    overflow: hidden;
}

.logo {
    background-color: #416438;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 100%;
}

.ad--728w90h {
    width: 728px;
    height: 90px;
}

.ad--728w90h .logo {
    width: 100px;
}

.ad--300w250h {
    width: 300px;
    height: 250px;
}

.ad--300w250h .logo {
    width: 100px;
}

.ad--300w600h {
    width: 300px;
    height: 600px;
    flex-direction: column;
}

.ad--300w600h .logo {
    width: 100%;
}

.ad--970w250h {
    width: 970px;
    height: 250px;
}

.ad--970w250h .logo {
    width: calc(970px / 3);
}

.ad--160w600h {
    width: 160px;
    height: 600px;
    flex-direction: column;
}

.ad--160w600h .logo {
    width: 100%;
}